<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Bookers</title>
	</head>
	<body>
		<p>入力内容をご確認ください</p>
		<div th:object="${inquiryForm}">
			<h1 th:text="*{title}"></h1>
			<p th:text="*{body}"></p>
			<form method="post" action="#" th:action="@{/bookers/form}">
				<input type="hidden" name="title" th:value="*{title}">
				<input type="hidden" name="body" th:value="*{body}">
				<input type="submit" value="Go Back">
			</form>
			<form method="post" action="#" th:action="@{/inquiry/complete}">
				<input type="hidden" name="title" th:value="*{title}">
				<input type="hidden" name="body" th:value="*{body}">
				<input type="submit" value="Complete">
			</form>
		</div>
	</body>
</html>