<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Bookers</title>
	</head>
	<body>
		<h1>Books</h1>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Body</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "book : ${bookList}">
					<td th:text = "${book.title}">Title</td>
					<td th:text = "${book.body}">Body</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<h2>New book</h2>
		<form method="post" action="#" th:action="@{/books/confirm}" th:object="${bookForm}">
			<label for="title">Title:</label>
			<input id="title" name="title" type="text"><br>
			<!-- <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div> -->
			<label for="body">Body:</label>
			<input id="body" name="body" type="text"><br>
			<!-- <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> -->
			<input type="submit" value="Confirm">
		</form>
	</body>
</html>