<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Bookers</title>
	</head>
	<body>
		<h2>Edit book</h2>
		<form method="post" action="#" th:action="@{/books/update}" th:object="${bookForm}">
			<label for="title">Title</label><br>
			<input id="title" name="title" type="text"><br>
			<input type="hidden" name="title" th:value="*{title}">
			<!-- <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div> -->
			<label for="body">Body</label><br>
			<input id="body" name="body" type="text"><br>
			<input type="hidden" name="body" th:value="*{body}">
			<!-- <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div> -->
			<input type="submit" value="Update Book">
		</form>
		<a>Edit</a> | <a th:href="@{/books}">Back</a>
	</body>
</html>